div {

  display: flex;
  margin-top: 25%;
  justify-content: space-evenly;
}

.btn{
  border-radius: 10px;
  width: 15%;


}

a{
  display: flex;
  height: 5vh;
  justify-content: center;
  padding-top: 1.5vh;
}

